.topnav{
  background-image: url('img/teli_olimpia.png');
    background-size: contain; 
    background-position: center; 
    height: 500px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.body{
  color: #293647;
}

.bg-fej {
  background-position: inherit;
  height: 180px;

}

.bg-fej h1{
  text-decoration: underline overline;
  color: red

}
.bg-fej h3{
  color: white;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}

.container{
  margin-bottom: 50px;
}

.bg-torzs {
  align-content: center;
}

h3{
  margin: 25px 0px;
}

a {
  font-style: italic;
  font-weight: bold;
  color: darkblue;
}

#szel, #mag{
  margin: 0px auto 15px;
}

#kalkGomb {
  margin: 20px auto;
}

.container2 {
  position: relative;
  text-align: center;
}

h3 {
  margin-top: 20px; 
}
.image-frame {
  display: inline-block;
  border: 2px solid #888; 
  padding: 10px; 
}
.felso-szoveg,
.also-szoveg {
  position: absolute;
  margin-top: 190px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.container3
{
  margin-top: 150px;
}
.szoveg {
  margin-top: 10px;
  font-size: 18px;

}

